.wrap-more {
  justify-content: center;
  display: flex;
}

.shipping {
  width: 70%;
  background-color: rgb(238, 240, 240);
  text-align: center;
  padding-bottom: 30px;
}

.email {
  width: 70%;
}

.bg h5 {
  font-style: italic;
}

.input-email input {
  width: 80%;
  height: 3rem;
}

.input-email button {
  width: 20%;
}
