.wrap-more {
  justify-content: center;
  display: flex;
}

.shipping {
  width: 70%;
  background-color: rgb(238, 240, 240);
  text-align: center;
  padding-bottom: 30px;
}

.email {
  width: 70%;
}

.bg h5 {
  font-style: italic;
}

.input-email input {
  width: 80%;
  height: 4rem;
  outline-color: transparent;
  border-color: rgb(51, 51, 51);
}

.input-email button {
  width: 20%;
  height: 4rem;
  outline-color: transparent;
  border-style: none;
}
