.wrap-chat {
  width: fit-content;
  height: fit-content;
  background-color: black;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 100;
  position: fixed;
  text-align: center;
}

.fa-brands {
  color: white;
  font-size: 35px;
}
