.wrap-cart {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.topic-cart {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  height: 145px;
  padding-top: 45px;
}

.topic-cart > h1 {
  height: 80px;
  width: 15%;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.topic-cart > p {
  height: 80px;
  width: 15%;
  text-align: center;
  margin-top: 20px;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.title-shoping-cart {
  justify-content: center;
  display: flex;
  margin: 70px 0px 30px 0px;
}
.title-shoping-cart > h2 {
  width: 70%;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 700;
  font-size: 39px;
}
.wrap-invoice {
  font-family: "Alumni Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: 3%;
}
.wrap-table {
  width: 52%;
  text-align: center;
}

.tr-title {
  background-color: rgb(245, 245, 245);
  height: 3.5rem;
  font-weight: 700;
  font-size: 22px;
}
.tr-map {
  font-size: 25px;
  font-weight: 700;
}
.td-img {
  width: 85px;
  height: 100px;
}
.table-opacity {
  opacity: 0.7;
}

.td-button > button {
  border-style: none;
}

.cart-total {
  width: 15%;
}
