.wrap-cart {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.topic-cart {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  height: 145px;
  padding-top: 45px;
}

.topic-cart > h1 {
  height: 80px;
  width: 15%;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.topic-cart > p {
  height: 80px;
  width: 15%;
  text-align: center;
  margin-top: 20px;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
