.wrap-cart {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.topic-cart {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  height: 145px;
  padding-top: 45px;
}

.topic-cart > h1 {
  height: 80px;
  width: 15%;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.topic-cart > p {
  height: 80px;
  width: 15%;
  text-align: center;
  margin-top: 20px;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.title-shoping-cart {
  justify-content: center;
  display: flex;
  margin: 70px 0px 30px 0px;
}
.title-shoping-cart > h2 {
  width: 70%;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.wrap-invoice {
  font-family: "Alumni Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: 1.5%;
}
.wrap-table {
  width: 52%;
  text-align: center;
}

.tr-title {
  background-color: rgb(245, 245, 245);
  height: 3.5rem;
  font-weight: 700;
  font-size: 22px;
}
.tr-map {
  font-size: 25px;
  font-weight: 700;
}
.td-img {
  width: 85px;
  height: 100px;
}
.table-opacity {
  opacity: 0.7;
}

.td-button > button {
  border-style: none;
  width: 2rem;
}
.td-button {
  width: 7rem;
}
.td-button > span {
  width: 2.5rem;
  padding: 0;
}
.cart-total {
  width: 16.5%;
  height: 300px;
  background-color: rgb(245, 245, 245);
  padding: 25px;
}

.cart-total > div > h3 {
  font-weight: 700;
  font-size: 27px;
}

.subtotal {
  border-bottom: 1px rgb(212, 212, 212) solid;
  padding-bottom: 5px;
}
.sub-title {
  font-size: 18px;
  font-weight: 700;
}

.sub-price {
  float: right;
  margin-top: 5px;
}

.total-title {
  font-size: 18px;
  font-weight: 700;
}

.total-price {
  float: right;
  font-size: 19px;
  font-weight: 600;
  opacity: 0.85;
}

.invoice-price {
  margin-top: -10px;
}

.input-coupon,
.input-coupon > input,
.btn-coupon,
.btn-coupon > button {
  width: 100%;
}
.input-coupon > input {
  opacity: 0.8;
  height: 1.5rem;
  outline-style: none;
  outline-color: rgb(212, 212, 212);
}
::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  opacity: 0.8;
}
.btn-coupon > button {
  background-color: rgb(41, 39, 38);
  color: white;
  border: none;
  height: 1.5rem;
  opacity: 0.9;
  font-size: 10px;
}
