.wrap-checkout {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.topic-checkout {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  height: 145px;
  padding-top: 45px;
  font-family: "Alumni Sans", sans-serif;
}

.topic-checkout > h1 {
  height: 80px;
  width: 15%;
  text-align: center;

  font-weight: 900;
  font-size: 60px;
  opacity: 0.9;
}
.btn-back {
  width: 20%;
}

.btn-back > button {
  height: 80px;
  width: 25%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-style: none;
  background-color: transparent;
}

.btn-active {
  color: rgb(141, 141, 141);
}

.wrap-checkout {
  font-family: "Alumni Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: 1.5%;
  margin-bottom: 50px;
  opacity: 0.85;
}

.wrap-form {
  width: 52%;
}

.billing {
  font-weight: 900;
}

.checkout-box {
  width: 16.5%;
  height: fit-content;
  background-color: rgb(245, 245, 245);
  padding: 40px;
  margin-top: 65px;
}
.form-checkout > input {
  width: 100%;
  height: 3rem;
  outline-style: none;
  outline-color: rgb(212, 212, 212);
  padding: 10px;
}

.form-checkout > p {
  font-size: 21px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.form-checkout > button {
  margin-top: 15px;
  color: white;
  background-color: rgb(41, 39, 38);
  box-shadow: none;
  border-style: none;
  width: 150px;
  font-size: 24px;
  letter-spacing: 1px;
}

.line-out {
  display: flex;
  justify-content: center;
}
p.name-out {
  height: 1.3rem;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
}
