.wrap-checkout {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: black;
}

.topic-checkout {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  height: 145px;
  padding-top: 45px;
  font-family: "Alumni Sans", sans-serif;
}

.topic-checkout > h1 {
  height: 80px;
  width: 15%;
  text-align: center;

  font-weight: 900;
  font-size: 60px;
  opacity: 0.9;
}
.btn-back {
  width: 20%;
}

.btn-back > button {
  height: 80px;
  width: 25%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-style: none;
  background-color: transparent;
}

.btn-active {
  color: rgb(141, 141, 141);
}

.checkout-all {
  font-family: "Alumni Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: 1.5%;
  margin-bottom: 50px;
  opacity: 0.85;
}

.wrap-form {
  width: 45%;
}

.billing {
  font-weight: 900;
}

.form-checkout > input {
  width: 100%;
  height: 3rem;
  outline-style: none;
  /* outline-color: rgb(238, 238, 238); */
  border: 1px rgb(187, 187, 187) solid;
  padding: 10px;
}

.form-checkout > p {
  font-size: 21px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.form-checkout > button {
  margin-top: 15px;
  color: white;
  background-color: rgb(41, 39, 38);
  box-shadow: none;
  border-style: none;
  width: 150px;
  font-size: 24px;
  letter-spacing: 1px;
}

.checkout-box {
  width: 16.5%;
  height: fit-content;
  background-color: rgb(245, 245, 245);
  padding: 30px 25px 30px 25px;
  margin-top: 65px;
}
.checkout-box > h3 {
  font-weight: 900;
  font-size: 35px;
}
.line-out {
  display: flex;
  gap: 1%;
  border-bottom: 1px rgb(226, 226, 226) solid;
  letter-spacing: 0px;
}
.line-out > p {
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 8px;
}
.name-out {
  height: 1.7rem;
  width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700 !important;
  padding-left: 1px;
  font-size: 20px;
}

.down-out {
  height: 2rem;
  padding-top: 2px;
  font-size: 19px;
  /* opacity: 0.85; */
  font-weight: 900;
  color: rgb(121, 121, 121);
}

.title-out {
  font-weight: 700;
  font-size: 22px;
}

.total-out {
  float: right;
  font-size: 25px;
  font-weight: 600;
  opacity: 0.95;
  margin-right: 8px;
}
