.wrap-checkout {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.topic-checkout {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  height: 145px;
  padding-top: 45px;
  font-family: "Alumni Sans", sans-serif;
}

.topic-checkout > h1 {
  height: 80px;
  width: 15%;
  text-align: center;

  font-weight: 900;
  font-size: 60px;
  opacity: 0.9;
}
.btn-back {
  width: 20%;
}

.btn-back > button {
  height: 80px;
  width: 25%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-style: none;
  background-color: transparent;
}
