.wrap-top,
.wrap-des,
.wrap-relate {
  display: flex;
  justify-content: center;
}

.detail-top,
.detail-des,
.detail-relate {
  width: 70%;
}

.small-img > img {
  width: 160%;
  max-width: 85px;
  height: 21%;
  max-height: 85px;
}

.big-img > img {
  height: 80%;
  width: 90%;
  margin-left: 5%;
}

.detail-category {
  display: flex;
}

.category-bold {
  margin-right: 5px;
  font-weight: 700;
}

.related-img {
  width: 100%;
}
.detail-relate > div {
  width: 19%;
}

.detail-des > p {
  height: fit-content;
  /* overflow: hidden; */
  word-break: break-word;
  /* text-overflow: ellipsis; */
  /* white-space: pre-line; */
  /* white-space: normal; */
  line-height: 1.3;
}
