.wrap-top,
.wrap-des,
.wrap-relate {
  display: flex;
  justify-content: center;
}

.detail-top,
.detail-des,
.detail-relate {
  width: 70%;
}

.small-img > img {
  width: 150%;
  max-width: 85px;
  height: 17%;
  max-height: 85px;
}

.big-img > img {
  height: 70%;
  width: 75%;
}
