.shop-page {
  margin-bottom: 400px;
}

.wrap-shop {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.topic-shop {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  height: 145px;
  padding-top: 45px;
}

.topic-shop > h1 {
  height: 80px;
  width: 15%;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.topic-shop > p {
  height: 80px;
  width: 15%;
  text-align: center;
  margin-top: 20px;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.list-shop {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 35px;
}

.sort-product > select {
  text-align: center;
}

.page-change {
  display: flex;
  margin-top: 400px;
  margin-left: 90%;
}

.page-a {
  --bs-pagination-color: black;
  --bs-pagination-active-bg: black;
  --bs-pagination-actuve-color: white;
  --bs-pagination-active-border-color: black;
}
.pan-wrap {
  width: 100%;
}
.page-a:hover {
  --bs-pagination-hover-bg: black;
  --bs-pagination-hover-color: white;
}

.text-pan {
  width: 100%;
  margin-top: 0px;
  display: block;
  font-size: 15px;
  font-family: "Alumni Sans", sans-serif;
  margin-left: 88%;
}

.whole-pan {
  margin-top: 1250px;
}
.wrap-produst-list {
  margin-top: 60px;
  margin-bottom: 150px;
  width: 53%;
  height: 200px;
  font-size: 20px;
}

.wrap-all-product {
  width: 53%;
  height: 1300px;
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  gap: 10px;
  width: 100%;
}
