.footer {
  color: rgb(182, 180, 180);
  background-color: black;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 320px;
  text-align: left;
}

.dark-footer {
  background-color: black;
  width: 100%;
}

.row {
  padding-top: 70px;
}

.row .bg p {
  font-size: 13px;
  margin-top: -7px;
  opacity: 0.85;
  font-family: "Alumni Sans", sans-serif;
}

.row .bg h6 {
  margin-bottom: 25px;
  opacity: 0.9;
}
