.footer {
  color: rgb(182, 180, 180);
  background-color: black;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 230px;
}

.row {
  padding-top: 20px;
}
