.footer {
  color: rgb(182, 180, 180);
  background-color: black;
  font-style: italic;
  font-family: "Alumni Sans", sans-serif;
  height: 320px;
  text-align: left;
}

.row {
  padding-top: 70px;
}

.row .bg p {
  font-size: 18px;
  margin-top: -7px;
  opacity: 0.85;
}

.row .bg h6 {
  margin-bottom: 25px;
  opacity: 0.9;
  font-size: 25px;
}
