.banner {
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  font-style: italic;
  font-family: sans-serif;
  color: rgb(53, 51, 50);
  padding-top: 150px;
  padding-left: 60px;
}
.banner button {
  font-style: italic;
  font-family: sans-serif;
  color: white;
  background-color: rgb(53, 51, 50);
  box-shadow: none;
  outline-color: transparent;
  border-style: none;
  height: 3rem;
  width: 12rem;
}

.banner h2 {
  font-size: 15px;
}
