.banner {
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  font-style: italic;
  font-family: sans-serif;
  color: rgb(46, 44, 43);
}
.banner button {
  font-style: italic;
  font-family: sans-serif;
  color: white;
  background-color: rgb(46, 44, 43);
  box-shadow: none;
  outline-color: transparent;
}
