.product-detail > img,
.product-detail > h4,
.product-detail > p {
  width: 90%;
  text-align: center;
}

.product-detail {
  width: 300px;
  max-height: 320px;
  font-size: 20px;
}

.product-detail > p {
  font-size: 20px;
  font-family: "Alumni Sans", sans-serif;
  margin-top: 10px;
}

.product-detail > h4 {
  font-size: 18px;
  margin-top: 15px;
}
