.side-shop {
  width: 17%;
  height: 100vh;
  padding-top: 25px;
}

.side-shop > ul > li {
  list-style-type: none;
  padding-left: 15px;
}

.side-shop > ul {
  padding: 0;
}

.side-shop > ul > li:hover {
  color: rgb(197, 153, 8);
  font-weight: 900;
}
.side-shop > h4 {
  font-style: italic;
  font-weight: 400;
  height: 40px;
}
.brand {
  color: rgb(255, 255, 255);
  background-color: black;
  font-family: "Alumni Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.9;
}
.type-product {
  font-family: "Alumni Sans", sans-serif;
  font-size: 19px;
}

.title-product {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
