.side-shop {
  width: 15%;

  padding-top: 25px;
}

.side-shop > ul > li {
  list-style-type: none;
  justify-content: left;
  margin-left: -15px;
  padding-left: 5px;
}

.brand {
  color: rgb(255, 255, 255);
  background-color: black;
  font-family: "Alumni Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.9;
}
.type-product {
  font-family: "Alumni Sans", sans-serif;
  font-size: 19px;
}

.title-product {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 700;
}
